# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=pix_payment

# MongoDB
MONGODB_URI=mongodb://localhost:27017/pix_payment_logs

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin@localhost:5672

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=1h

# Application
PORT=3000
NODE_ENV=development
